daemon off;
error_log /proc/1/fd/1 info;
http {
  access_log /proc/1/fd/1;
  server {
    listen 80;
    location  {{ BASE_PATH }} {
    rewrite {{ BASE_PATH }}/(.*) /$1  break;
    {%- if AUTH_HTPASSWD is defined %}
    auth_basic            "ndscheduler";
    auth_basic_user_file  /.htpasswd;
    {%- endif %}
    proxy_pass            http://localhost:8888;
    proxy_redirect        off;
    proxy_set_header      Host $host;
  }
